 <header>
   <div class="container">
     <a href="#" class="logo">Angular App</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/posts">Posts</a></li>
        <li class="dropdown" dropdown>

            <a class="dropdown-toggle" href dropdownToggle (click)="false"
               aria-controls="basic-link-dropdown">Bootstrap</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li><a href="#" routerLink="/accordion">Accordion</a></li>
              <li><a href="#" routerLink="/datepicker">Datepicker</a></li>
            </ul>

        </li>
      </ul>
    </nav>
   </div>
 </header>

 <div class="container">
   <router-outlet></router-outlet>
 </div>
