/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

// $primary: rgb(163, 6, 6);
$primary: #2d2e2e;

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }
  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li {
        > a {
          padding: 1em;

          &:hover {
            background: darken($primary, 10%);
          }
        }
        ul {
          background-color: $primary !important;
          padding: 0 !important;
          min-width: 13rem !important;

          a {
            display: block;
            padding: 15px;
          }
        }
      }
    }
  }
}

h1 {
  margin-top: 2em;
}

body {
  margin: 0;
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
